@media screen and (max-width: 479px){
    .wrapper{
        width: 200px;
    }

    .header{
        height: 230px;
    }
    .header-left{
        margin-left: 70px;
        margin-bottom:0px
    }

    .header-center{
        margin-left: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .header-right{
        margin-left: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .contents{
        height: 300px;
        width: 200px;
    }

    .left{
        height: 100px;
        width: 100%;
    }

    .right{
        height: 210px;
        width: 100%;
    }
    .right-upper{
        margin-top: 20px;
        margin-right: 30px;
    }

    .right-center{
        margin-right: 30px;
    }

    .right-lower{
        margin-right: 30px;
    }
}