.clearfix::after{
    content: '';
    display: block; 
    clear: both;
}

.wrapper{
    height: 450px;
    width: 400px;
    margin: 0 auto;
}

.header{
    height: 100px;
    background-color: #141f40;
}

.header-left{
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 20px;
    border: 10px solid #fff;
    background-color: #a9004b;
}

.header-center{
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #fff;
    background-color: #a9004b;
}

.header-right{
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #fff;
    background-color: #a9004b;
}


.contents{
    height: 250px;
    width: 400px;
}

.left{
    float: left;
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}

.right{
    float: right;
    height: 250px;
    width: 250px;
    background-color: #8c2727;
}

.right-upper{
    float: right;
    height: 40px;
    width: 140px;
    margin-top: 40px;
    margin-right: 60px;
    border: 5px solid #fff;
    background-color: #ff863f;
}

.right-center{
    float: right;
    height: 40px;
    width: 140px;
    margin-top: 10px;
    margin-right: 60px;
    border: 5px solid #fff;
    background-color: #ff863f;
}

.right-lower{
    float: right;
    height: 40px;
    width: 140px;
    margin-top: 10px;
    margin-right: 60px;
    margin-bottom: 40px;
    border: 5px solid #fff;
    background-color: #ff863f;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: #d98d30;
}

*{
    margin: 0;
    padding: 0;
}